.footer-wrap {
    margin: 4em 0 2.5em 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}


.footer-link {
    display: flex;
    padding: 3px;
    width: 160px;
    color: #7d7d7d;
    border-radius: 5px;
    align-items: center;
    text-decoration: none;
}

.github-icon {
    color: #7d7d7d;
    margin-right: 10px;
}