body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Profile image and container moddify */
img.profileImg {
  opacity: 0.1;
  position: absolute;
  right: 0px;
  bottom: -30px;
  width: 360px;
}
.productsContainer {
  margin-top: 50px;
  margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
  img.profileImg {
    top: -50px;
    right: -10px;
  }
}
@media screen and (min-width: 900px) {
  img.profileImg {
    width: 560px;
    bottom: -130px;
  }
  .productsContainer {
    margin-top: 150px;
  }
}

/* FAB */
div > .MuiFab-root {
  color: #ffffff;
  background-color: #fe7a00;
}
div > .MuiFab-root:hover {
  background-color: #ea7202;
}

/* Main wrapper container */
.main-wrapper {
  margin-top: 55px;
}

/* Snackbar */
.MuiSnackbarContent-root {
  display: flex;
  justify-content: center;
}

/* Root */
html, body, #root {
  background-color: #fbfbfb;
}